.parent {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* add solution here */
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
    width: 80px;
}
